<div id="assessment-container"></div>

<script type="text/javascript">
  window.DEFAULT_SETTINGS = {
    apiUrl: '<%= application_base_url %>',
    csrfToken: '<%= form_authenticity_token %>',
    jwt: '<%= jwt_token %>',
  };
  window.location.href = "#/edit/<%= @assessment_id %>";
</script>

<%= webpack_manifest_script %>
<%= webpack_bundle_tag 'app' %>

<%= javascript_include_tag "open_comm.js" %>
