<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/global/head' %>
    <%= stylesheet_link_tag "bare", media: "all" %>
  </head>
  <body class="bare">
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <%= javascript_include_tag 'app_wp_bundle' %>
  </body>
</html>
